.wrapper
  = render "shared/side-bar"
  / / チャット部分
  / .chat
  /   / チャット部分ヘッダー
  /   .header
  /     .left-header
  /       .left-header__title グループ名
  /       %ul.left-header__members Member: NO MEMBER
  /     .right-header
  /       =link_to "Edit", "####", class: "right-header__button"
  /   / チャット部分本体
  /   .messages
  /     .message
  /       .upper-message
  /         .upper-message__user-name メンバー名
  /         .upper-message__date 投稿時刻
  /       .lower-message
  /         %p.lower-message__content メッセージ
  / メッセージ入力フォーム
  / .form
  /   %input.form__message{:placeholder => "type a message"}/
  /   .form__mask
  /     %label.form__mask__image{:for => "message_image"}
  /       %i.fa.fa-picture-o.icon
  /       %input#message_image.hidden.js-file{:name => "message[image]", :type => "file"}/

  /   %input.form__submit{"" => "", :name => "commit", :type => "submit", :value => "Send"}/
  / .form
  /   = form_for [@group, @message] do |f|
  /     = f.text_field :content, class: 'form__message', placeholder: 'type a message'
  /     .form__mask
  /       = f.label :image, class: 'form__mask__image' do
  /         = fa_icon 'picture-o', class: 'icon'
  /         = f.file_field :image, class: 'hidden'
  /     = f.submit 'Send', class: 'form__submit'


  /   %input.form__submit{"" => "", :name => "commit", :type => "submit", :value => "Send"}/
